
*.pyc

datasets/cifar-10-batches-py/data_batch_1

*.meta

datasets/cifar-10-batches-py/data_batch_2

datasets/cifar-10-batches-py/data_batch_3

datasets/cifar-10-batches-py/data_batch_4

*.html

datasets/cifar-10-batches-py/test_batch

datasets/cifar-10-batches-py/data_batch_5
